<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css">
</head>
<body class="text-center">
<main class="form-signin">
    <form th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
        <div class="form-floating">
            <input required type="text" class="form-control" id="floatingInput" name="username">
            <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating">
            <input required type="password" class="form-control" id="floatingPassword" name="password">
            <label for="floatingPassword">Пароль</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    </form>
    <div th:if="${param.error}" class="error">
        <p>Ошибка! Неверный логин или пароль.</p>
    </div>
    <div th:if="${param.logout}" class="no_error">
        <p>Вы вышли из системы.</p>
    </div>
    <p>Нет аккаунта? <a href="/registration">Зарегистрироваться</a></p>
    <p>На <a href="/">главную</a></p>
</main>
</body>
</html>