<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="footer">
        <div class="copyright">
            <div class="container">
                <div class="copyright__text">
                    <div>Copyright © 2022 Web blog of the tourist club with functions for analyzing the complexity of routes. All Rights Reserved.</div>
                    <div>Made by <span><a href="https://vk.com/id392700042">Roman Shchelokov</a></span></div>
                </div>
            </div>
        </div>
    </footer>
</div>