<div th:fragment="header0" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="header" th:style="|background-color:rgb(5,23,47);|">
        <div class="container">
            <div id="header__inner">
                <div id="header__logo">
                    <h1>Tourclub "SVAROG"</h1>
                </div>
                <nav class="nav">
                    <a class="nav__link" href="/">Главная</a>
                    <a class="nav__link" href="/#blog">Блог</a>>
                    <a class="nav__link" href="/track">Анализ треков</a>
                    <a class="nav__link" href="/category">Категория сложности маршрута</a>
                    <a class="nav__link" th:href="@{/blog}">Войти</a>
                </nav>
            </div>
        </div>
    </header>
</div>